<p-tabMenu [model]="items" styleclass="w-full" />
<div class="py-5 flex justify-content-center">
  <div class="w-9">
    <div class="flex justify-content-between my-4">
      <div class="text-center">
        <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">playground</h1>
      </div>
    </div>

    <div class="block-section flex">
      <p-toggleButton
        onIcon="pi pi-bars"
        offIcon="pi pi-bars"
        onLabel=""
        offLabel=""
        [(ngModel)]="formVisible"
      ></p-toggleButton>
      <!-- 左邊設定視窗 -->
      <div class="col-6" [class.close]="!formVisible">
        <div class="form-container" *ngIf="formVisible">
          <form></form>
        </div>
      </div>

      <!-- 右邊聊天室 -->
      <div
        [class.justify-content-end]="formVisible"
        [class.justify-content-center]="!formVisible"
        class="chat-container w-full"
      >
        <p-card class="chat-card w-full">
          <div class="chat-name">
            <h5>這裡放聊天機器人名稱</h5>
          </div>
          <div class="chat-window">
            <ng-container *ngFor="let chat of chatMessages">
              <p
                [ngClass]="{
                  'user-message': chat.isUser,
                  'bot-message': !chat.isUser
                }"
              >
                {{ chat.content }}
              </p>
            </ng-container>
            <div class="loading-container">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>
          <p-divider class="w-full bg-surface-200"></p-divider>
          <div class="chat-input mt-7">
            <textarea
              class="w-full mr-2 message-box"
              type="text"
              [(ngModel)]="message"
              (keydown.enter)="sentMsg()"
              placeholder="Type a message"
            ></textarea>
            <button
              pButton
              type="button"
              style="background: transparent; border: none"
              (click)="sentMsg()"
            >
              <i
                class="p-button-icon pi pi-send"
                style="font-size: 1.5rem; color: rgb(63, 63, 70)"
              ></i>
            </button>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
