.close {
  width: 0;
}
.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-name {
  display: flex;
  padding: 0 1.5rem;
}

.chat-card {
  border: solid rgb(229, 231, 235);
}

.chat-input {
  display: flex;
  justify-content: space-between;
}
/* chat.component.css */
.user-message {
  display: block;
  color: blue;
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.bot-message {
  display: block;
  align-self: end;
  color: black;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.chat-window {
  height: 300px;
  overflow-y: scroll;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: start;
}

.message-box {
  border: none;
  outline: none;
  resize: none;
}
