<div class="main">
  <div class="p-5 flex flex-column justify-content-center">
    <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2 text-center">Data Sources</h1>
    <p class="text-600 mb-5 text-center">Add your data sources to train your chatbot</p>
  </div>
  <div class="flex justify-content-center px-6">
    <div class="col-2">
      <p-menu [model]="items" />
    </div>

    <div class="creat-view col-10">
      <div class="card col-8">
        <h5>Alternate Align</h5>
      </div>
      <div class="card col-4">
        <h5>Alternate Align</h5>
      </div>
    </div>
  </div>

</div>
