<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
<form>
  <div class="text-center">
    <h1>Reset Password</h1>
    <div class="text-600 mb-5">Enter your email to receive instructions on how to reset your password.</div>
  </div>

  <div class="field p-fluid">
    <label>Email</label>
    <input class="email mb-5" pInputText id="email" type="email" placeholder="name@example.com" />
    <button pButton label="Reset Password"></button>
  </div>
</form>
<div class="text-900 lg:text-xl flex">
  <span>Remember your password?</span>
  <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Login</a>
</div>
</div>
</div>
</div>

